body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: red;
    margin-bottom: 10px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

input, select {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: none;
}

button {
    padding: 4px 10px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    background-color: red;
    color: black;
    cursor: pointer;
}

#playerList, #groups {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.playerItem {
    background-color: rgba(128,128,128,0.3);
    margin: 2px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.removeBtn {
    background-color: #ff4d4d;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    display: none; /* só aparece para ADM */
    border-radius: 4px;
    cursor: pointer;
}

.groupBox {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.groupTitle {
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
